  <!DOCTYPE html>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Editar publicacion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
</head>
<body>

	<div class="container">
		<div class="row mt -1">
			<div class="col">
				<form action="">
					<div class="container">
					<div class="row">
						<div class="col" align="center">
						
							<p></p>
							<h1>Editar Publicacion</h1>
						
							<p></p>
							</div>
						</div>
					</div>
					<div class="from-group">
						<label for="Titulo">Editar Título</label>
						<input type="text" class="form-control" placeholder="Editar titulo del documento" name="titulo" id="titulo">
					</div>

					<div class="from-group">
						<label for="Descripcion">Editar Descripción</label>
						<input type="text" class="form-control" placeholder="Editar descripcion del codigo" name="descripcion" id="descripcion">
					</div>

					<div class="form-group">
						<label for="lenguaje">Editar categoría</label>
						<select name="lenguaje" id="lenguaje" class="form-control">
							<option value="Python">Python</opcion>
							<option value="Java">Java</opcion>
							<option value="C">C</opcion>
							<option value="C++">C++</opcion>
							<option value="C#">C#</opcion>
							<option value="JavaScript">JavaScript</opcion>
							<option value="PHP">PHP</opcion>
							<option value="SQL">SQL</opcion>
							<option value="Ruby">Ruby</opcion>
							<option value="Swift">Swift</opcion>
						</select>

					</div>

					<div class="from-group">
						<label for="Codigo">Edtar codigo</label>
						<textarea name="mensaje" id="mensaje" class="form-control" placeholder="Editar codigo" rows="12" cols="12"></textarea>
					</div>

					
					<div align="center">
						<p></p>
						<button align="center" class="btn btn-primary btn-lg" type="submit">Confirmar Editado</button>
					</div>
				
				</form>
			</div>
		</div>
	</div>
	<foote align="center">
		<div align="center" class="container">
        		<div align="center" class="col-xs-12 col-md-6 ">
				<br><br>
				<h6 class="text-muted lead">	©NASHCODE</h6>
			</div>
        </div>
	</footer>
      {# Cargamos la librería #}
      {% load bootstrap4 %}
 
      {# CSS Bootstrap #}
      {% bootstrap_css %}
</body>
</html