<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">

        <title>Documento</title>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1>Titulo: <small>es un titulo</small></h1>
				</div>
			</div>
		</div>
	   {# Cargamos la librería #}
	  {% load bootstrap4 %}
 
	  {# CSS Bootstrap #}
	  {% bootstrap_css %}
    </body>
</html>