<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<p><h2>&nbsp;</h2> 
            <div class="col">
							<div align="center">			
								<h1>EL LUI</h1>
							</div>
						</div>
<div class="container">
<div class="row">
						<div class="col">
							<div class="float-right">			
								<a type="button" href="/nashcode.com/home" class="btn btn-secondary">Menu Principal</a><br><br>
							</div>
						</div>
					</div>
  <div class="panel panel-default">
    <div class="panel-heading">Nombre</div>
    <div class="panel-body">Luis Martinez</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Correo</div>
    <div class="panel-body">lx699sopaipa@gmail.com</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Alias</div>
    <div class="panel-body">EL LUI</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Me Gustas</div>
    <div class="panel-body">980</div>
  </div>
</div>
<p>&nbsp;</p>
	<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © NASHCODE

  </div>
  <!-- Copyright -->
</footer>
</body>
</html>