<!DOCTYPE html>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link href="summernote-bs4.css" rel="stylesheet">

        <title>Publicar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<style>
		footer {
			background-color: black;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			color: black;
		}
  		</style>
    </head>
</head>
<body>
	<div class="container">
		<div class="row mt -1">
			<div class="col">
				
				<div class="container">
					<div class="row">
						<div class="col" align="center">						
							<p></p>

							<h1>Nueva Publicacion</h1>
						
							<p></p>
						</div>
					</div>
				</div>
					
				<div class="row">
					<div class="col">
						<div class="float-right">			
							<a type="button" href="\nashcode.com\home" class="btn btn-secondary">Menu Principal</a>
						</div>
					</div>
				</div>

			<form action="/nashcode.com/publicar" method="POST">
				{% csrf_token %}
				<div class="from-group">
					<label for="Titulo">Título</label>
						<input type="text" class="form-control"  placeholder="Titulo del documento" name="titulo" id="titulo" minlength="3" maxlength="30">
				</div>

				<div class="from-group">
					<label for="Descripcion">Descripción</label>
					<input type="text" class="form-control" placeholder="Descripcion del codigo" name="descripcion" id="descripcion" minlength="3" maxlength="140">
				</div>

				<div class="form-group">
					<label for="lenguaje">Categoría</label>
					<select name="categoria" id="categoria" class="form-control">
						<option value="Texto">Texto</opcion>
						<option value="Python">Python</opcion>
						<option value="Java">Java</opcion>
						<option value="C">C</opcion>
						<option value="C++">C++</opcion>
						<option value="C#">C#</opcion>
						<option value="JavaScript">JavaScript</opcion>
						<option value="PHP">PHP</opcion>
						<option value="SQL">SQL</opcion>
						<option value="Ruby">Ruby</opcion>
						<option value="Swift">Swift</opcion>
					</select>

				</div>

				<div class="form-group">
					<label for="Codigo">Codigo</label>
					<textarea name="codigo" id="summernote1" class="form-control" placeholder="Inserte el codigo aquí" rows="20" cols="20" minlength="3" maxlength="2000"></textarea>
				</div>

				<div class="form-group">
					<label for="Codigo">Referencia</label>
					<textarea name="referencia" id="summernote2" class="form-control" placeholder="Ingrese una referencia del codigo aquí" rows="20" cols="20" minlength="3" maxlength="800"></textarea>
				</div>

				<div class="form-group" align="center">
					<button class="btn btn-primary btn-lgs">Publicar</button>

				</div>
			</form>

			</div>
		</div>
	</div>
		
	
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
			© NASHCODE
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		
		<script src="summernote-bs4.js"></script>
		<script>
			$('#summernote1').summernote({
				height:300
			});
		</script>
		<script>
			$('#summernote2').summernote({
				height:100
			});
		</script>

</body>
</html