<!DOCTYPE html>
<html lang="en">
  >

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   

    <title>Publicacion</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      <div class="row mt -1">
        <div class="col">
          <form action="">
            <div class="container">
              <div class="row">
                <div class="col" align="center">
                  <p></p>
                  <h1>Publicacion</h1>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="float-right">
                  <a
                    type="button"
                    href="/nashcode.com/home"
                    class="btn btn-secondary"
                    >Menu Principal</a
                  ><br /><br />
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Titulo</div>
              <div class="panel-body">{{publicacion.titulo}}</div>
            </div>

            {% if usuario != publicacion.usuario %}
            <div class="panel panel-default">
              <div class="panel-heading">Autor</div>
              <div class="panel-body">
                <a
                  href="/nashcode.com/perfil/{{publicacion.usuario.id_usuario}}"
                  >{{publicacion.usuario.alias}}</a
                >
              </div>
            </div>
            {% endif %}

            <div class="panel panel-default">
              <div class="panel-heading">Descripcion</div>
              <div class="panel-body">{{publicacion.descripcion}}</div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Categoria</div>
              <div class="panel-body">{{publicacion.categoria}}</div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Codigo</div>
              <div class="panel-body">{{publicacion.codigo|safe}}</div>
            </div>
          </form>

          {% if usuario != publicacion.usuario %}
          <br /><a
            type="button"
            href="/nashcode.com/guardado"
            class="btn btn-secondary"
            >Guardar</a
          ><br /><br />
          {% endif %}
        </div>
      </div>
    </div>

    
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © NASHCODE
      </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </body>
</html>
