<!DOCTYPE html>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Publicar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
</head>
<body>
	<div class="container">
		<div class="row mt -1">
			<div class="col">
				
					<div class="container">
					<div class="row">
						<div class="col" align="center">
						
							<p></p>
							<h1>Nueva Publicacion</h1>
						
							<p></p>
							</div>
					</div>
					</div>
					
					<div class="row">
						<div class="col">
							<div class="float-right">			
								<a type="button" href="\nashcode.com\home" class="btn btn-secondary">Menu Principal</a>
							</div>
						</div>
					</div>

				<form action="/nashcode.com/home",method="POST">
				{% csrf_token %}
						<div class="from-group">
							<label for="Titulo">Título</label>
							<input type="text" class="form-control"  placeholder="Titulo del documento" name="titulo" id="titulo" minlength="3" maxlength="60">
						</div>

						<div class="from-group">
							<label for="Descripcion">Descripción</label>
							<input type="text" class="form-control" placeholder="Descripcion del codigo" name="descripcion" id="descripcion" minlength="3" maxlength="30">
						</div>

						<div class="form-group">
							<label for="lenguaje">Categoría</label>
							<select name="lenguaje" id="lenguaje" class="form-control">
								<option value="Python">Texto</opcion>
								<option value="Python">Java</opcion>
								<option value="Java">Python</opcion>
								<option value="C">C</opcion>
								<option value="C++">C++</opcion>
								<option value="C#">C#</opcion>
								<option value="JavaScript">JavaScript</opcion>
								<option value="PHP">PHP</opcion>
								<option value="SQL">SQL</opcion>
								<option value="Ruby">Ruby</opcion>
								<option value="Swift">Swift</opcion>
							</select>

						</div>

						<div class="from-group">
							<label for="Codigo">Codigo</label>
							<textarea name="codigo" id="codigo" class="form-control" placeholder="Inserte el codigo aquí" rows="12" cols="12" minlength="3" maxlength="200"></textarea>
						</div>

						
						<div align="center">
							<p></p>
							<button type="submit" class="btn btn-primary btn-lg">Publicar</button>
						</div>
				</form>
			</div>
		</div>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © NASHCODE

  </div>
  <!-- Copyright -->
</footer>
</body>
</html