  <!DOCTYPE html>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Publicar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
</head>
<body>
	<div class="container">
		<div class="row mt -1">
			<div class="col">
				<form action="">
					<div class="container">
					<div class="row">
						<div class="col" align="center">
						
							<p></p>
							<h1>Nueva Publicacion</h1>
						
							<p></p>
							</div>
						</div>
					</div>
					<div class="from-group">
						<label for="Titulo">Titulo</label>
						<input type="text" class="form-control" placeholder="Titulo del documento" name="titulo" id="titulo">
					</div>

					<div class="from-group">
						<label for="Descripcion">Descripcion</label>
						<input type="text" class="form-control" placeholder="Descripcion del codigo" name="descripcion" id="descripcion">
					</div>

					<div class="form-group">
						<label for="lenguaje">Lenguaje</label>
						<select name="lenguaje" id="lenguaje" class="form-control">
							<option value="Python">Python</opcion>
							<option value="Java">Java</opcion>
							<option value="C">C</opcion>
							<option value="C++">C++</opcion>
							<option value="C#">C#</opcion>
							<option value="JavaScript">JavaScript</opcion>
							<option value="PHP">PHP</opcion>
							<option value="SQL">SQL</opcion>
							<option value="Ruby">Ruby</opcion>
							<option value="Swift">Swift</opcion>
						</select>

					</div>

					<div class="from-group">
						<label for="Codigo">Codigo</label>
						<textarea name="mensaje" id="mensaje" class="form-control" placeholder="Inserte el codigo aquí" rows="12" cols="12"></textarea>
					</div>

					
					<div align="center">
						<p></p>
						<button align="center" class="btn btn-primary btn-lg" type="submit">Publicar</button>
					</div>
				
				</form>
			</div>
		</div>
	</div>
{# Cargamos la librería #}
      {% load bootstrap4 %}
 
      {# CSS Bootstrap #}
      {% bootstrap_css %}
</body>
</html