<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row mt -1">
			<div class="col">
				<form action="">
					<div class="container">
					<div class="row">
						<div class="col" align="center">
						
							<p></p>
							<h2>Edicion De Perfil</h2>
						
							<p></p>
							</div>
					</div>
					</div>
				
					<div class="row">
						<div class="col">
							<div class="float-right">			
								<a type="button" href="/home" class="btn btn-secondary">Menu Principal</a><br><br>
							</div>
						</div>
					</div>
  <form action="/miperfil">
    <div class="form-group">
      <label for="usr">Nombre:</label>
      <input type="text" class="form-control" id="usr" name="username" value="Ricardo Millanao">
    </div>
    <div class="form-group">
      <label for="pwd">Alias:</label>
      <input type="text" class="form-control" id="pwd" name="password" value="Milloncitos">
    </div>
    <div class="form-group">
      <label for="pwd">Correo:</label>
      <input type="text" class="form-control" id="pwd" name="password" value="ricardito.millanao@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>