<!DOCTYPE html>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Publicar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
</head>
<body>
	<div class="container">
		<div class="row mt -1">
			<div class="col">
				<form action="">
					<div class="container">
					<div class="row">
						<div class="col" align="center">
						
							<p></p>
							<h1>Bienvenida</h1>
						
							<p></p>
							</div>
					</div>
					</div>



					
					<div align="right">
						<p></p>
						<div align="left">
						<a href="/iniciarsesion" class="btn btn-primary btn-lg">Iniciar Sesion</a>
					</div>
					<a href="/registro" class="btn btn-primary btn-lg">Registrarse</a>
					</div>
				
				</form>
			</div>
		</div>
	</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © NASHCODE

  </div>
  <!-- Copyright -->
</footer>
</body>
</html
