<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<p><h2>&nbsp;Milloncitos</h2> <ul class="nav justify-content-end"><li class="nav-item"><a class="nav-link" href="/home">Menu Principal</a></li></ul></p>
<br><br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Nombre</div>
    <div class="panel-body">Ricardo Millanao</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Correo</div>
    <div class="panel-body">ricardito.millanao@gmail.com</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Alias</div>
    <div class="panel-body">Milloncitos</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Me Gustas</div>
    <div class="panel-body">990</div>
  </div>
  <a href="/editarperfil" class="btn btn-info" role="button">Editar Informacion</a>
</div>
</body>
</html>
